# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Build artifacts
build/
dist/
*.spec
Output/
*.log

# OS junk
.DS_Store
Thumbs.db
